<html>
  <head>
    <meta charset="utf-8" />
    <title>Go wasm</title>
<style>
[v-cloak] {
    display: none;
}
</style>
  </head>

  <body>
    <div v-cloak id="app">
        <input v-model="value1">
        <input v-model="value2">

        <button v-on:click="add">Add</button>
        <button v-on:click="subtract">Subtract</button>
        <p v-show="result">Result: {{ result }}</p>
        <p v-show="quote">Quote: {{ quote }}</p>
        <button v-on:click="getQuote">Get Quote</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./wasm_exec.js"></script>
    <script src="./app.js"></script>  
  </body>
</html>
